<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>21 TODO</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/todo.css">
    <link class="background" rel="stylesheet" href="css/background1.css">
</head>
<body>
    <div class="themeSkin dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            切换主题
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" class="skin" data-css="background1.css">主题1</a></li>
            <li><a href="#" class="skin" data-css="background2.css">主题2</a></li>
            <li><a href="#" class="skin" data-css="background3.css">主题3</a></li>
        </ul>
        <!--<div class="skinList">-->
            <!--<div class="button-skin">-->
                <!--<button class="skin" data-css="background1.css">主题1</button>-->
            <!--</div>-->
            <!--<div class="button-skin">-->
                <!--<button class="skin" data-css="background2.css">主题2</button>-->
            <!--</div>-->
            <!--<div class="button-skin">-->
            <!--<button class="skin" data-css="background3.css">主题3</button>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <div class="todoList">
        <div class="todoListStyle">
            <img class="board" src="img/board.png" alt="底层板子">
            <img class="paper3" src="img/paper-3.png" alt="底层白纸">
            <img class="paper2" src="img/paper-2.png" alt="中间白纸">
            <img class="paper1" src="img/paper-1.png" alt="上面白纸">
            <img class="topPaper2" src="img/TopPaper-2.png" alt="底层撕纸">
            <img class="topPaper1" src="img/TopPaper-1.png" alt="上层撕纸">
            <img class="hinge5" src="img/Hinge-5.png" alt="活页夹">
            <img class="hinge4" src="img/Hinge-4.png">
            <img class="hinge3" src="img/Hinge-3.png">
            <img class="hinge2" src="img/Hinge-2.png">
            <img class="hinge1" src="img/Hinge-1.png">
            <img class="line2" src="img/verticalLine-2.png" alt="左竖线">
            <img class="line1" src="img/verticalLine-1.png" alt="右竖线">
        </div>
        <div class="todoListInput">
            <img class="add" src="img/add.png" alt="添加">
            <input class="input" type="text">
            <div class="todoListContent">
            </div>
    </div>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/gua.js"></script>
    <script src="js/todo.js"></script>
</body>
</html>